<h2>Add New Category</h2>

<div class="paddingContent">
	<form action="/admin" method="post">
		<div class="field">
			<label>Name</label>
			<div class="value">
				<input type="text" name="name" />
			</div>
		</div>
		<div class="field">
			<label>Description</label>
			<div class="value">
				<textarea name="description"></textarea>
			</div>
		</div>
		<div class="buttonbar">
			<input type="hidden" name="action" value="addcategory" />
			<input type="submit" name="submit" value="Create Category" />
		</div>
	</form>
</div>